---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<!-- 
<style>
.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 50px;  
    padding-right: 40px; 
}

main {
    padding-top: 70px;
}

.row {
    display: flex;
    justify-content: space-between;
}

.col-md-4 {
    flex: 1;
    padding: 10px;
}
</style>

<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ page.title }}</h1>
        {{ content }}
    </div>
</main>

{% include footer.html %}
 -->



<main class="my-4">
    <div class="container">
        <h1 class="display-5">{{ title }}</h1>
        {{ content }}
        {% if site.data.organizers %}
        <hr class="my-4">
        {% assign groups = site.data.organizers.groups %}
        {% for group in groups %}
        {% if group.title %}
        <h5 class="fw-normal">{{ group.title }}</h5>
        {% endif %}
        {% if group.columns %}
        {% assign div = ' id="roster"' %}
        {% else %}
        {% assign div = '' %}
        {% endif %}
        <div {{ div }}>
            <ul class="list-unstyled">
                <!-- {% assign members = group.members | sort_natural: 'surname' %} -->
                {% assign members = group.members %}
                {% for member in members %}
                {% assign full = member.name | append: ' ' | append: member.surname | append: ' (' | append: member.affiliation | append: ')' %}
                {% if member.email %}
                <li class="fw-light"><a href="mailto:{{ member.email }}">{{ full }}</a></li>
                {% else %}
                <li class="fw-light">{{ full }}</li>
                {% endif %}
                {% endfor %}
            </ul>
        </div>
        {% endfor %}
        {% endif %}
    </div>
</main>

<!-- {% include footer.html %} -->
