---
layout: default
---

{% include metadata.liquid %}
{% include header.html %}

<style>

.navbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: #f8f9fa;
    left: 0;
    right: 0;
    margin: 0 auto;
    padding-left: 50px;  
    padding-right: 40px; 
}


main {
    padding-top: 70px;
}
</style>

<main class="my-4">
    <div class="container-fluid hero-image" style="background-image: url('{{ site.baseurl }}/assets/images/maastricht.jpg'); height: 800px; background-size: cover;">
        <div class="hero-text">
            {% if page.title == "Home" %}
            <h1 class="display-3 text-uppercase font-weight-bold">NetSci2025 Conference on Network Science</h1>
            {% else %}
            <h1 class="display-3 text-uppercase font-weight-bold">{{ page.title }}</h1>
            {% endif %}
            <p class="lead">15-19 June 2025, the Netherlands</p>
            <div>
                {% assign buttons = site.data.index.buttons %}
                {% for button in buttons %}
                <a href="{{ button.url }}" class="btn btn-primary btn-lg">{{ button.text }}</a>
                {% endfor %}
            </div>
        </div>
    </div>

    <div class="container mt-5 bg-gray-2 rounded p-4">
        <h2 class="display-4">Welcome to NetSci2025</h2>
        <p class="lead">NetSci2025 is the leading conference on Network Science dedicated to shaping the future. NetSci2025 is a premier conference that brings together researchers, professionals, and enthusiasts in the field of Network Science. It provides a platform to exchange ideas, share latest research findings, and explore the potential of network science in solving real-world challenges. Join us for five days of insightful sessions, workshops, and networking opportunities. This is a great space to delve deeper into the world of network science and its impact on various domains such as technology, social sciences, and more.</p>
    </div>

    <div class="container-fluid mt-5 d-flex justify-content-center">
        <div class="embed-responsive embed-responsive-16by9" style="width: 80%; height: 80vh;">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/YOUR_VIDEO_ID" allowfullscreen></iframe>
        </div>
    </div>
</main>

{% include footer.html %}


